
<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="alert alert-success">
        <strong>Thanks for submitting this form! You have <%= @count %> time(s) now</strong>
      </div>
      <h3><u><strong>Submitted Information</strong></u></h3>
      <p>Name:              <%= @info['name'] %></p>
      <p>Dojo location:     <%= @info['location'] %></p>
      <p>Favorite language: <%= @info['language'] %></p>
      <p>Comment:           <%= @info['comment'] %></p>


    </div>

  </div>

</div>
